<nav aria-label="page navigation example">  
    <div class="pagination">  
      <div class="page-item"  (click)="onClickPage(activePage - 1)"><a class="page-link" href="javascript:void(0);">Previous</a></div>  
      <div class="page-item" [ngClass]="{'active': activePage === item}" *ngFor="let item of pages" (click)="onClickPage(item)"><a class="page-link" href="javascript:void(0);">{{item}}</a></div>  
      <div class="page-item" (click)="onClickPage(activePage + 1)"><a class="page-link" href="javascript:void(0);">Next</a></div>  
    </div>  
</nav>  