<div>
    <table class="users table-wrapper-scroll-y my-custom-scrollbar" >
      <thead>
        <tr>
          <th *ngFor="let col of columns">
            {{col}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let char of tempUsers">
          <td *ngFor="let col of columnKeys">
            <span *ngIf="col!='status'">{{char[col]}}</span>
            <span *ngIf="col=='status'">
              <span *ngIf="char[col]!='unread'">{{char[col]}}</span>
              <button *ngIf="char[col]=='unread'">Submit</button>
            </span>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="100%">
            <div class="footer">
              <div><span>Current Active page {{activePage}}</span></div>
              <app-paginator [totalRecords]="users.length" [recordsPerPage]="numberOdRecords" (pageChange)="displayActivePage($event)"></app-paginator>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>