.users
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif
    border-collapse: collapse
    width: 100%

.users td, .users th    
    border: 1px solid #ddd
    padding: 8px
  
.users tr:nth-child(even)
    background-color: #f2f2f2

.users tr:hover 
    background-color: #ddd

.users th
    padding-top: 12px
    padding-bottom: 12px
    text-align: left
    background-color: #4CAF50
    color: white
    position: sticky
    top: 0

.users tfoot td
    position: sticky
    bottom: 0
    background: white

.my-custom-scrollbar 
    position: relative
    height: 500px
    overflow: auto

.table-wrapper-scroll-y 
    display: block

table::-webkit-scrollbar 
    width: 0.5em

table::-webkit-scrollbar-track 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)

table::-webkit-scrollbar-thumb 
    background-color: darkgrey
    outline: 1px solid slategrey
    
.footer
    display: flex
    align-items: center

.footer div, .footer app-paginator
    flex-grow: 1

.footer div, .footer app-paginator
    flex-grow: 1
