<h1>Table routing</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/table" routerLinkActive="active">Table with pagination</a></li>
    <li><a routerLink="/scroll" routerLinkActive="active">Infinate Scroll Table</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>