<div>
    <table class="users table-wrapper-scroll-y my-custom-scrollbar" (scroll)="displayActivePage($event)" >
      <thead>
        <tr>
          <th *ngFor="let col of columns">
            {{col}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let char of tempUsers">
          <td *ngFor="let col of columnKeys">
            <span *ngIf="col!='status'">{{char[col]}}</span>
            <span *ngIf="col=='status'">
              <span *ngIf="char[col]!='unread'">{{char[col]}}</span>
              <button *ngIf="char[col]=='unread'">Submit</button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>